{% extends 'admin/_form.html.twig' %}

{% block _post_url_row %}
    <div class="six wide field {{ errors is not empty ? 'error' }}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _post_publishedAt_row %}
    <div class="four wide field {{ errors is not empty ? 'error' }}">
        {{ form_label(form) }}
        <div class="three fields">
            {{ form_widget(form.date) }}
            {{ form_widget(form.time.hour) }}
            {{ form_widget(form.time.minute) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _post_draft_row %}
    <div class="field {{ errors is not empty ? 'error' }}">
        <div class="ui toggle checkbox">
            {{ form_widget(form, {'attr': {'class': 'hidden'}}) }}
            {{ form_label(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}