{% apply spaceless %}
    <footer>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ currentUrl }}" title="Share to Facebook"
           class="share-btn" target="_blank"><img src="{{ asset('build/assets/images/social/facebook.svg') }}"
                                                  alt="Facebook share btn"></a>
        <a href="https://twitter.com/share?url={{ currentUrl }}" title="Share to Twitter"
           class="share-btn" target="_blank"><img src="{{ asset('build/assets/images/social/twitter.svg') }}"
                                                  alt="Twitter share btn"></a>
        <a href="http://vk.com/share.php?url={{ currentUrl }}" title="Share to Vkontakte"
           class="share-btn" target="_blank"><img src="{{ asset('build/assets/images/social/vkontakte.svg') }}"
                                                  alt="Vkontakte share btn"></a>
        <a href="https://telegram.me/share/url?url={{ currentUrl }}" title="Share to Telegram"
           class="share-btn" target="_blank"><img src="{{ asset('build/assets/images/social/telegram.svg') }}"
                                                  alt="Telegram share btn"></a>
        <a href="https://wa.me/?text={{ currentUrl }}" title="Share to WhatsApp"
           class="share-btn" target="_blank"><img src="{{ asset('build/assets/images/social/whatsapp.svg') }}"
                                                  alt="WhatsApp share btn"></a>
    </footer>
{% endapply %}