{% extends 'admin/base_editor.html.twig' %}

{% form_theme form 'admin/menu/_form.html.twig' %}

{% block title %}{{ id is null ? 'Creating' : 'Updating' }} Menu Item — Admin Panel{% endblock %}

{% block segment %}
    <div class="ui tall stacked segment">
        <h2 class="ui header">{{ title }}</h2>
    </div>

    <div class="ui stacked segment">
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        {{ form_widget(form) }}

        <button class="ui primary button" type="submit">{{ id is null ? 'Create' : 'Update' }}</button>
        <a href="{{ path('admin_menu') }}" onclick="return confirm('Do you really want to leave this page?');"
           class="ui button">Cancel</a>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin-menu-view') }}
{% endblock %}